In [2]:
import pandas as pd

In [3]:
file_path = r"/workspaces/docker_20240721/demo-devcontainer-main/resource/holding.csv"

df = pd.read_csv(file_path, nrows=1000_000)

In [5]:
# df[df["portno" == "2999052"]]
df.groupby("portno").get_group("2999052")

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
552,2999052,2020/10/31,282,2021/01/08,0.05,525000.0,525071.74,Hewlett Packard Enterprise Co .954% 05-OCT-2021,42824CBB
553,2999052,2020/10/31,352,2021/01/08,0.03,335000.0,330737.56,Ford Motor Credit Company LLC 1.044% 05-APR-2021,345397YY

In [6]:
"""
#計算行數：COUNT(1) 和 COUNT(*) 都用於計算查詢結果中的行數
select
    portno,
    percent_tna,
    count(1)
from table
group by portno, percent_tna
"""

df.groupby(["portno","percent_tna"]).size()

portno   percent_tna
2998623  -0.34           1
         -0.17           1
         -0.02           1
          0.00          19
          0.01           8
                        ..
3092652   0.61           3
          0.62           1
          0.63           1
          3.01           1
          101.93         1
Length: 184136, dtype: int64

In [12]:
df.groupby(["portno","percent_tna"]).sum().sort_values("percent_tna",ascending = False)

,,report_dt,security_rank,eff_dt,nbr_shares,market_val,security_name,cusip
portno,percent_tna,,,,,,,
308655c,300.08,2020/12/31,1,2021/01/08,8.666786e+07,8.666786e+07,Other Assets less Liabilities,0
3086562,300.04,2020/12/31,1,2021/01/08,1.588645e+08,1.588645e+08,Other Assets less Liabilities,0
3086607,300.01,2020/12/31,1,2021/01/08,2.904950e+08,2.904950e+08,Other Assets less Liabilities,0
3086604,299.94,2020/12/31,1,2021/01/08,7.105212e+07,7.105212e+07,Other Assets less Liabilities,0
3086556,299.85,2020/12/31,1,2021/01/08,6.097380e+07,6.097380e+07,Other Assets less Liabilities,0
...,...,...,...,...,...,...,...,...
3069606,-173.40,2020/11/30,660,2021/01/08,-5.910000e+03,-1.305233e+09,2YR T-NOTES MAR1,0
307545c,-176.40,2020/11/30,535,2021/01/08,-3.740000e+02,-8.259848e+07,2YR T-NOTES MAR1,0
3087462,-197.20,2020/11/30,4,2021/01/08,-5.900000e+03,-2.137688e+07,EMINI S&P DEC0,0
3086604,-199.90,2020/12/31,2,2021/01/08,-4.889844e+09,-4.736340e+07,JPY/USD Forward Contract,0
3086562,-200.00,2020/12/31,2,2021/01/08,-8.667746e+07,-1.059169e+08,EUR/USD Forward Contract,0